body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imgs/fondo2.jpg");
}
header{
    background-color: darkorange;
    border: 0.2px solid white;
    height: 100px;
    text-align: center;
    position: relative;
}
#ENCABEZADO{
    margin-top: 40px;
}
nav{
    background-color: yellow;
    
    text-align: center;
}

.menu1{
    background-color: cornflowerblue;
    
    height: 300px;
    width: 15%;
    float: left;
    position: relative;

}
.texto{
    background-color: gray;
    
    height: 300px;
    width: 69.94%;
    float: left;
    
}
.menu2{
    background-color: cornflowerblue;
    
    height: 300px;
    width: 15%;
    float: left;
}
footer{
    background-color: yellow;
    height: 300px;
    text-align: center;
    
    
    
}
#pie{
    padding-top: 15%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    position: absolute;
    right: 25px;
    top: 25px;

}
.peru{
    position: absolute;
    margin-top: 200px;
}
